# Do not upload db access
/src/main/java/com/stetson/controller/interfaces/IDbController.java
/CPLEX.bin

#/.idea/ --> UPLOAD it

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar

# ALSO push root.war, to run it in docker automatically
# *.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
